<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/products.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-division">
    <nav>
        <div class="title-logo">
            <h1>T E B O</h1>
            <p>F u r n i t u r e</p>
        </div>
        <div class="nav-content">
            <a href="/index.html">Home</a>
            <a href="/views/products.html">Products</a>
            <a href="/views/contact.html">Contact</a>
        </div>
    </nav>

    
    <div id="div3">
        <h1>Products</h1>
        <a class="colori" id="a1" href="">Best-selling</a>
        <a class="colori" id="a2" href="">Most popular</a>
    </div>
    <div id="div4">
        <a class="a1" href=""> <span id="sp">All</span></a>
        <a class="a1" href="">Bod</a>
        <a class="a1" href="">Sofa</a>
        <a class="a1" href="">Chair</a>
        <a class="a1" href="">Light</a> 
    </div>
    <div id="div5">
        <div class="back">
            <h1 class="size">Vintage Chair</h1>
            <h5 class="sz" id="co">$120</h5>
            <h6 class="sz" id="col">Chair</h6>
            <img class="weed" src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c244.png" alt="">
        </div>
        <div class="back">
            <h1 class="size">Closetto</h1>
            <h5 class="sz" id="co">$220</h5>
            <h6 class="sz" id="col">Closet</h6>
            <img class="weed" src="https://img.crazysales.com.au/products_pictures/2006/200653_1527783_extra.jpg" alt="">
        </div>
        <div class="back">
            <h1 class="size">Dresser</h1>
            <h5 class="sz" id="co">$130</h5>
            <h6 class="sz" id="col">Dresser</h6>
            <img class="weed" src="https://images-na.ssl-images-amazon.com/images/I/61s8cDCwFJL._SL1500_.jpg" alt="">
        </div>
    </div>
    <div id="div6">
        <div class="back">
            <h1 class="size">Georgian</h1>
            <h5 class="sz" id="co">$70</h5>
            <h6 class="sz" id="col">Rug</h6>
            <img class="weed" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNFoUIH-BvEMaPFH9vzGgFhU26jaf6ghLRWA&usqp=CAU" alt="">
        </div>
        <div class="back">
            <h1 class="size">Symphonic</h1>
            <h5 class="sz" id="co">$40</h5>
            <h6 class="sz" id="col">Curtains</h6>
            <img class="weed" src="https://i.pinimg.com/originals/80/51/fe/8051fe01c5cfd442bdb79c4b07fd1566.png" alt="">
        </div>
        <div class="back">
            <h1 class="size">Luxury</h1>
            <h5 class="sz" id="co">$400</h5>
            <h6 class="sz" id="col">Sofa</h6>
            <img class="weed" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDZD2KSUOvaB6_iu-FZRi4s9tCB66GYj1mwg&usqp=CAU" alt="">
        </div>
    </div>
</div>
</body>
</html>