<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeBo Furniture</title>
    <link rel="shortcut icon" href="/assets/img/titlelogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/products.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-division">
    <nav>
        <div class="title-logo">
            <h1>T E B O</h1>
            <p>F u r n i t u r e</p>
        </div>
        <div class="nav-content">
            <a href="/index.html">Hyrja</a>
            <a href="/views/products.html" class="product">Produktet</a>
            <a href="/views/contact.html">Na Kontakto</a>
        </div>
    </nav>

    
    <header class="sell-prod-pop">
        <a class="header-color res-marg" href="/views/products.html">Produktet</a>
        <a class="header-color sell res-marg" href="/views/prodsellsknown/ishituri.html">Më i shituri</a>
        <h1 class="popular res-marg">Më të njohurit</h1>
    </header>

    <div class="links-products">
        <a class="all lnk-prod" href="/views/knownprod/knownall.html">All</a>
        <a class="bed lnk-prod" href="/views/knownprod/knownbed.html">Bed</a>
        <a class="sofa lnk-prod" href="#"><span class="all">Sofa</span></a>
        <a class="chair lnk-prod" href="/views/knownprod/knownchair.html">Chair</a>
        <a class="light lnk-prod" href="/views/knownprod/knownlight.html">Light</a>
    </div>

<div class="products">
    <div class="prod-some">
        <div class="product-form">
            <h1 class="size-txt-prod">Olivia Large Sofa</h1>
            <h5 class="sz-price-txt" id="price-color">1299€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size first-prod" src="/assets/img/sofa1.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Wynn 3 seat</h1>
            <h5 class="sz-price-txt" id="price-color">999€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/sofa2.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Kova Sofa</h1>
            <h5 class="sz-price-txt" id="price-color">1397€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/sofa3.png" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="some-prod">
        <div class="product-form">
            <h1 class="size-txt-prod">Two sofa chair</h1>
            <h5 class="sz-price-txt" id="price-color">499€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/sofa4.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Mango Half Leather</h1>
            <h5 class="sz-price-txt" id="price-color">899€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/sofa5.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Luxury</h1>
            <h5 class="sz-price-txt" id="price-color">459€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/luxurysofa.png" alt="">
            </div>
        </div>
    </div> -->
</div>
</div>
</body>
</html>