body {
    font-family: 'Karla', sans-serif;
    height: 100%;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
}
body:after {
    content: 'max';
    display: none;
}
.content-division {
    margin: auto;
    max-width: 1600px;
}

/*/////////////////////////////////// NAVBAR ///////////////////////////////////*/
nav {
    display: flex;
    justify-content: space-between;
}
.title-logo{
    font-size: 30px;
    margin: 10px 0 10px 0;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #D2C7F0;
}
.nav-content a:hover {
    color: white;
    box-shadow: 0 0 0.8em black;
    transition: 0.3s;
}
.product{
    margin: 30px;
}
/*////////////////////////////////// NAVBAR //////////////////////////////////*/

/*////////////////////////////////// CONTACT //////////////////////////////////*/
.contact-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #D2C7F0;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    border: 2px solid #D2C7F0;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs::placeholder{
    color: #62666d75;
}
.contact-left small{
    margin: 0 0 0 20px;
    position: relative;
    bottom: 10px;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    /* background: linear-gradient(270deg, #fa6d86, #D2C7F0); */
    background-color: #D2C7F0;
    cursor: pointer;
    border: 1px solid black;
}
.contact-left button:hover{
    background: linear-gradient(270deg, #fa6d86, #D2C7F0);
    box-shadow: 0 0 0.8em black;
    transition: 0.3s;
    color: white;
}
.contact-right img{
    width: 600px;
}
/*////////////////////////////////// CONTACT //////////////////////////////////*/

@media (max-width: 1042px) {
    body {
        padding: 0%;
    }
    nav {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

@media (max-width: 560px) {
    .nav-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0 10px 0;
    }
    .product {
        margin: 15px;
    }
}
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    form{
        margin: 30px;
    }
}
@media (min-width: 769px ) and (max-width: 1600px){
    nav{
        margin:0 50px 0 50px;
    }
    form{
        margin: 30px;
    }
}