body {
    font-family: 'Karla', sans-serif;
    height: 100%;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
}
body:after {
    content: 'max';
    display: none;
}
.content-division {
    margin: auto;
    max-width: 1600px;
}

/*/////////////////////////////////// NAVBAR ///////////////////////////////////*/
nav {
    display: flex;
    justify-content: space-between;
}
.title-logo{
    font-size: 30px;
    margin: 10px 0 10px 0;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #D2C7F0;
}
.nav-content a:hover {
    color: white;
    box-shadow: 0 0 0.8em black;
    transition: 0.3s;
}
.product{
    margin: 30px;
}
/*////////////////////////////////// NAVBAR //////////////////////////////////*/


/*////////////////////////////////// HEADER //////////////////////////////////*/
.sell-prod-pop{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.header-color{
    color: #62666D;
    text-decoration: none;
    font-size: 18px;
}
.header-color:hover{
    color: #D2C7F0;
    transition: 0.3s;
}
.sell{
    margin: 0 40px 0 40px;
}
/*////////////////////////////////// HEADER //////////////////////////////////*/


/*////////////////////////////////// PROD LINKS //////////////////////////////////*/
.links-products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.all{
    color: black;
}
.lnk-prod{
    text-decoration: none;
    margin: 50px;
    color: #62666D;
    font-size: 20px;
}
.lnk-prod:hover{
    color: #D2C7F0;
    transition: 0.3s;
}
/*////////////////////////////////// PROD LINKS //////////////////////////////////*/


/*////////////////////////////////// PRODUCTS //////////////////////////////////*/
.prod-some{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}
.some-prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 150px 0 50px 0;
}

.product-form{
    background-color: #D2C7F0;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 30px 30px 0px 0px ;
}

.prod-size{
    width: 300px;
}
.size-txt-prod{
    font-size: 40px;
    letter-spacing: -1px;
}
.sz-price-txt{
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 30px;
}
#price-color {
    color: #62666D;
}
#prodname-color {
    color: #62666d75;
}
/*////////////////////////////////// PRODUCTS //////////////////////////////////*/

@media (max-width: 560px) {
    .nav-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0 10px 0;
    }
    .product {
        margin: 15px;
    }


    .sell-prod-pop{
        display: flex;
        flex-direction: column;
    }
    .res-marg{
        margin: 10px;
    }


    .links-products{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }
    .lnk-prod{
        margin: 10px;
    }


    .prod-some{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .some-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .product-form{
        padding: 0;
        margin: 60px;
    }
    .prod-size{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-txt-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin: 10px;
    }
    .sz-price-txt{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .sell-prod-pop{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .links-products{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }
    .lnk-prod{
        margin: 10px;
    }


    .prod-some{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .some-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .product-form{
        padding: 0;
        margin: 60px;
    }
    .prod-size{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-txt-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin: 10px;
    }
    .sz-price-txt{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
@media (min-width: 769px ) and (max-width: 1224px){
    .prod-some{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .some-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .product-form{
        padding: 0;
        margin: 60px;
    }
    .prod-size{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .size-txt-prod{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        margin: 10px;
    }
    .sz-price-txt{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prod-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
@media (min-width: 769px ) and (max-width: 1600px){
    nav{
        margin:0 50px 0 50px;
    }

    .sell-prod-pop{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .links-products{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}