<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeBo Furniture</title>
    <link rel="shortcut icon" href="/assets/img/titlelogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/products.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-division">
    <nav>
        <div class="title-logo">
            <h1>T E B O</h1>
            <p>F u r n i t u r e</p>
        </div>
        <div class="nav-content">
            <a href="/index.html">Hyrja</a>
            <a href="/views/products.html" class="product">Produktet</a>
            <a href="/views/contact.html">Na Kontakto</a>
        </div>
    </nav>

    
    <header class="sell-prod-pop">
        <a class="header-color res-marg" href="/views/products.html">Produktet</a>
        <h1 class="sell res-marg">Më i shituri</h1>
        <a class="header-color popular res-marg" href="/views/prodsellsknown/injohuri.html">Më të njohurit</a>
    </header>

    <div class="links-products">
        <a class="all lnk-prod" href="#"><span class="all">All</span></a>
        <a class="bed lnk-prod" href="/views/mostsellprods/mostsellbed.html">Bed</a>
        <a class="sofa lnk-prod" href="/views/mostsellprods/mostsellsofa.html">Sofa</a>
        <a class="chair lnk-prod" href="/views/mostsellprods/mostsellchair.html">Chair</a>
        <a class="light lnk-prod" href="/views/mostsellprods/mostselllight.html">Light</a>
    </div>

<div class="products">
    <div class="prod-some">
        <div class="product-form">
            <h1 class="size-txt-prod">Vintage Chair</h1>
            <h5 class="sz-price-txt" id="price-color">120€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Chair</h6>
            <div class="prod-img">
                <img class="prod-size first-prod" src="/assets/img/vintagechair.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Closetto</h1>
            <h5 class="sz-price-txt" id="price-color">220€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Closet</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/closetto.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Dresser</h1>
            <h5 class="sz-price-txt" id="price-color">130€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Dresser</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/dresser.png" alt="">
            </div>
        </div>
    </div>
    <div class="some-prod">
        <div class="product-form">
            <h1 class="size-txt-prod">Georgian</h1>
            <h5 class="sz-price-txt" id="price-color">70€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Rug</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/carpetgeorgian.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Symphonic</h1>
            <h5 class="sz-price-txt" id="price-color">40€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Curtains</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/symphonic.png" alt="">
            </div>
        </div>
        <div class="product-form">
            <h1 class="size-txt-prod">Luxury</h1>
            <h5 class="sz-price-txt" id="price-color">400€</h5>
            <h6 class="sz-price-txt" id="prodname-color">Sofa</h6>
            <div class="prod-img">
                <img class="prod-size" src="/assets/img/luxurysofa.png" alt="">
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>